$primaryColor: #1e72bc;
$secondaryColor: #0aceb1;
$neutralColor1: #333333;
$neutralColor2: #eee;
$neutralColor3: rgb(133, 133, 133);
$neutralColor4: rgb(163, 163, 163);
$lightBackground: rgb(250, 250, 250);
$darkBackground: rgb(32, 44, 55);
$darkElement: #092238;
$lightELement: #e9f1f8;
// $darkElement: rgb(43, 57, 69);
$white: #fff;

// BREAKPOINTS
$sm-screen-bp: 36em; // 576px
$md-screen-bp: 48em; // 768px
$lg-screen-bp: 62em; // 992px
$xl-screen-bp: 75em; // 1200px
