@use '../abstracts/variables' as v;

.features {
  padding: 3rem 1.5rem;
  border-top: 1px solid v.$neutralColor2;
  border-bottom: 1px solid v.$neutralColor2;

  @media only screen and (min-width: v.$md-screen-bp) {
    padding: 5rem 6rem;
  }

  &__grid {
    @media only screen and (min-width: v.$md-screen-bp) {
      display: grid;
      // grid-template-columns: 1fr 40%;
      align-items: center;
    }

    @media only screen and (min-width: v.$lg-screen-bp) {
      display: grid;
      grid-template-columns: 1fr 40%;
      align-items: center;
    }
  }

  &__list {
    display: grid;

    @media only screen and (min-width: v.$md-screen-bp) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 4rem;
    }
  }

  .feature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;

    margin-bottom: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid v.$neutralColor2;

    &__icon {
      padding: 2rem;
      // margin-right: 2rem;
      border: 2px solid v.$secondaryColor;
      border-radius: 50%;
      text-align: center;
      color: v.$secondaryColor;
      transition: all 0.2s;

      &:hover {
        background-color: v.$primaryColor;
        color: v.$lightELement;
        border: v.$primaryColor;
      }
    }

    &__description {
    }
  }

  &__img {
    width: 20rem;
    margin: auto;

    @media only screen and (min-width: v.$md-screen-bp) {
      width: 30rem;
    }
  }
}
