@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Unica+One&display=swap');
/* import 'leaflet/dist/leaflet.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  /* background-color: #fafafa; */
  /* background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); */
  /* background: linear-gradient(to right, #ece9e6, #fafafa); */
  background: linear-gradient(120deg, #fafafa 0%, #ece9e6 100%);
}

.dark body {
  /* color: #eee; */
  color: #e9f1f8;
  /* background-color: rgb(32, 44, 55); */
  /* background-color: rgb(6, 23, 38); */
  background: #061726;
  background: linear-gradient(120deg, #061726 0%, #292e49 100%);
}
